<h1><%= @place["name"] %></h1>

<h2>My Posts</h2>

<p>
  <a href="/posts/new?place_id=<%= @place["id"]%>" class="btn btn-warning" >New Post</a>
</p>

<div class = "container">
  <div class = "row">
     <% @posts = Post.where({"user_id" => session["user_id"]}) %>
      <% if @posts %>
        <% for post in @posts %>
          <div class="col-md-3 col-sm-6">
          <h3><%= post["title"] %></h3>
          <h4><%= post["posted_on"] %></h4>
          <h4>
          <%if post.uploaded_image.attached?%>
            <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
          <% else %>
            <img src="<%= post["uploaded_image"] %>" class="img-fluid" >
          <% end %>
          </h4>
          <p><%= post["description"] %></p>
        <% end %>
      <!--% else %>
        <p> You don't have any posts for this place</p -->
      <% end %>
    </div>
  </div>
</div>

<p>
  <a href="/places" class="btn btn-info"  >Back to All Places</a>
</p>